.Dance-outer-container {
  width: 100vw;
  height: fit-content;
  color: rgb(235, 235, 235);
}

.Dance-title {
  font-size: 30px;
  font-weight: 700;
  width: 100vw;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

.Dance-container {
  width: 90vw;
  margin-left: 5vw;
}

.Dance-ranking {
  display: grid;
  grid-template-rows: 60px;
}

.Dance-header {
  width: 90vw;
  height: 60px;
  display: grid;
  grid-template-columns: 18vw repeat(5, 12vw);
  margin-left: 10vw;
  font-weight: 400;
}
