.Dance-outer-container {
  width: 100vw;
  height: fit-content;
  color: rgb(235, 235, 235);
}

.Dance-title {
  font-size: 30px;
  font-weight: 700;
  width: 100vw;
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  /* text-shadow: 1px 1px 3px rgb(255, 255, 255); */
}

.Dance-subtitle {
  font-size: 20px;
  font-weight: 700;
  width: 100vw;
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.Dance-container {
  width: 100vw;
  margin-left: 5vw;
}

.Dance-ranking {
  display: grid;
  grid-template-rows: 60px;
}

.Dance-header {
  width: 100vw;
  height: 60px;
  display: grid;
  grid-template-columns: 16vw 8vw 18vw 10vw 10vw 16vw 6vw;
  margin-left: 6vw;
  font-weight: 400;
  margin-top: 60px;
}

.Dance-copyButton {
  max-width: 200px;
  text-align: center;
  border: 1px solid white;
  font-size: 12px;
  padding: 5px;
  border-radius: 10px;
  /* margin-left: calc(50vw - 100px); */
  
}

.Dance-copyButton:hover {
  cursor: pointer;
}

.Dance-blockingChanges {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-top: 40vh;
  text-shadow: floralwhite;
  font-weight: 700;
  font-size: 20px;
}

.Dance-copyButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: -20px;
  width: 40vw;
  margin-left: 30vw;
}
