.FullRoster-container {
  height: 100%;
}

.FullRoster-header {
  max-width: 90vw;
  height: 60px;
  display: grid;
  grid-template-columns: repeat(6, 15vw);
  margin-left: 5vw;
  font-weight: 400;
}

.FullRoster-prefModalBackground {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(25, 25, 28);
  opacity: 20%;
  z-index: 5;
}

.FullRoster-prefModal {
  position: absolute;
  width: 30vw;
  height: fit-content;
  background-color: white;
  z-index: 10;
  opacity: 100%;
  top: 20vh;
  left: 35vw;
  padding: 20px;
  border-radius: 20px;
}

.FullRoster-prefModal button {
  border: 1px dotted black;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
