.FullRoster-container {
  height: 100%;
}

.FullRoster-header {
  max-width: 90vw;
  height: 60px;
  display: grid;
  grid-template-columns: 18vw repeat(5, 12vw);
  margin-left: 5vw;
  font-weight: 400;
}

.FullRoster-title {
  font-size: 30px;
  width: 100vw;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 700;
}
