.FullRoster-container {
  height: 100%;
}

.FullRoster-header {
  max-width: 90vw;
  height: 60px;
  display: grid;
  grid-template-columns: 18vw repeat(5, 12vw);
  margin-left: 5vw;
  font-weight: 400;
}
