.DanceBlock-container {
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 3px 0.5px inset rgba(255, 255, 255, 0.523);
  padding: 20px;
  height: 30vh;
  overflow-y: scroll;
}

.DanceBlock-danceName {
  font-size: 20px;
  font-weight: 400;
}

.DanceBlock-member {
  font-size: 15px;
  height: 30px;
}
