@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

.nameBlock-container {
  max-width: 90vw;
  height: 80px;
  display: grid;
  grid-template-columns: 18vw repeat(5, 12vw);
  margin-left: 5vw;
}

.nameBlock-auditionNum {
  overflow-x: hidden;
  margin-right: 20px;
}

.nameBlock-pref-add {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-right: 30px;
  font-weight: 400;
}

.nameBlock-pref-add button {
  font-weight: 400;
}

.nameBlock-name {
  overflow-x: wrap;
  margin-right: 20px;
}

.nameBlock-container button {
  border: 1px dotted black;
  background-color: white;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  border-radius: 10px;
  padding: 5px;
  margin-top: -5px;
  width: fit-content;
  height: fit-content;
}

.nameBlock-prefs button:hover {
  cursor: pointer;
}

.nameBlock-numDancesRequested {
  padding-left: 0.5vw;
}
