@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");

.NavBar-container {
  position: absolute;
  font-family: "Roboto Mono", monospace;
  top: 0;
  left: 0;
  height: 40px;
  width: calc(100vw - 40px);
  padding: 20px;
  /* background-color: rgba(99, 24, 24, 0.9); */
  background-color: rgb(14, 14, 14);
  box-shadow: 1px 1px 2px 1px grey;
}

.NavBar-login {
  position: absolute;
  right: 50px;
  opacity: 100%;
  z-index: 10;
}

.NavBar-link {
  padding-left: 10px;
  padding-right: 30px;
  color: white;
  text-decoration: none;
  font-size: 25px;
}
