@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

.PrefModal-prefModalBackground {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(23, 23, 23);
  opacity: 60%;
  z-index: 5;
}

.PrefModal-prefModal {
  font-weight: 400;
  position: fixed;
  width: 60vw;
  height: fit-content;
  max-height: 75vh;
  overflow-y: scroll;
  background-color: white;
  z-index: 10;
  opacity: 100%;
  top: 15vh;
  left: 20vw;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid gray;
  color: black;
  box-shadow: 1px 1px 3px 1px grey;
}

.PrefModal-individualPref {
  height: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.PrefModal-contentArea {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 20px;
}

.PrefModal-prefs {
  max-width: 60%;
  font-size: 15px;
}

.PrefModal-comments {
  overflow-x: wrap;
  overflow-y: scroll;
  max-height: 45vh;
  font-size: 12px;
  padding-right: 20px;
}

.PrefModal-prefModal button {
  border: 1px solid grey;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  font-family: "Roboto Mono", monospace;
  position: absolute;
  right: 20px;
  bottom: 20px;
  box-shadow: 0.5px 0.5px 2px 0.5px grey;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.PrefModal-prefModal button:hover {
  cursor: pointer;
  background-color: gray;
  color: white;
}
