@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");

.appContainer {
  position: absolute;
  top: 80px;
  font-family: "Roboto Mono", monospace;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background-color: rgb(14, 14, 14);
  padding-bottom: 50px;
}

.App-logo-container {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  transform: scale(0.55, 0.55);
  animation: flashingLogo 1s infinite;
}

@keyframes flashingLogo {
  0% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
    transform: scale(0.58, 0.58);
  }
  100% {
    opacity: 50%;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: fixed;
  margin-left: calc(50vw - 40px);
  margin-top: 20vh;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
